<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<head>

<body content="text/html" >

<div class='row' style='margin-top:20px;'>

<div class='col-md-4' >
</div>
<div class='col-md-4' >
	<table class="table table-bordered table-dark">
		<tr class="" ><th>SI.No</th><th>Word</th><th>Count</th></tr>
	{{ output | safe }}
	</table>
</div>

<div class='col-md-4' >
</div>

</div>

</body>